<!-- Footer -->
<footer> 
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contacto:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Horario: Lunes a Sábados de 10 a 20 hs. <br> 
          Celular: {{ site.telephone_number }} <br>
          E-mail: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="/about"> Quienes Somos </a></p>
        <p><a href="/#services"> Servicios </a></p>
        <p><a href="/contact.html"> Contacto </a></p>
        <!-- <p><a href="/blog"> Blog ( Write to us )</a></p> 
         <p><a href="/team"> Team ( Meet the Team )</a></p>  -->
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Redes Sociales</h3>
        <div id="social-icons">

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook" style="display: inline-block;" >
              <i class="fa fa-facebook"></i>
             </a>
          {% endif %}

          {% if site.instagram_link %}
             <a href="{{ site.instagram_link }}" class="btn-group instagram" style="display: inline-block;">
               <i class="fa fa-instagram"></i>
             </a> 
          {% endif %}


        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="/">TIM Masajes</a>. 
      <p>Todos los derechos reservados &copy; 2023 Terapia Integral de Masajes</p>
      <!-- <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p> -->
  </div>

</footer>
